@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

/* Apply Comfortaa font to the body */
body {
  font-family: "Comfortaa", cursive;
}

/* Your CSS */
.month-name-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.month-name-container > div {
  padding: 10px;
  width: 100%;
  max-width: 800px;
}
/* 
.bg-gradient-to-br {
  border-radius: 20px;
} */

/* Existing CSS below */
/* Calendar.css */

.larger-button {
  font-size: 3rem; /* 3 times larger font size */
  width: 4rem; /* 3 times larger width */
  height: 3rem; /* 3 times larger height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.streak-highlight {
  background-color: #00a6ff; /* Purple color with transparency */
  border-radius: 50%; /* Creates a circle */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px; /* Set a fixed width for the circle */
  height: 32px; /* Set a fixed height for the circle */
}

.streak-title {
  padding: 20px 20px 20px 20px; /* Add padding inside the streak title */
}

.streak-title > div {
  margin: 10px 0; /* Adjust margin to bring the streak title closer to the top and bottom */
}

.streak-title .text-3xl {
  font-size: 4rem; /* Increase font size for user streak */
}

.streak-title .text-xl {
  font-size: 2rem; /* Increase font size for "Day Streak!" */
}

.calendar-container {
  font-family: "Lato", sans-serif;
  font-size: 27.72px;
  line-height: 33.27px;
  text-align: center;
}

.day-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 22.53px;
  line-height: 27.03px;
  text-align: center;
  min-height: 32px;
  min-width: 32px;
}

.current-day {
  background-color: #007bff; /* This should be your 'kindly-blue' color. */
  border-radius: 50%; /* Creates a circle */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white; /* Text color set to white */
  width: 32px; /* Set a fixed width for the circle */
  height: 32px; /* Set a fixed height for the circle */
}

.streak-counter {
  background: linear-gradient(
    90deg,
    rgba(30, 115, 250, 1) 0%,
    rgba(90, 180, 250, 1) 100%
  );
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  width: 300px; /* or 100% if you want it to be full width */
  padding: 10px;
  box-sizing: border-box;
}

.streak-number {
  font-size: 2.5em; /* large number */
  margin-bottom: 0.2em; /* spacing between number and label */
}

.streak-label {
  font-size: 1em; /* smaller text */
}

.month-name {
  text-align: center;
  font-size: 3rem; /* Adjust the size as needed */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
  background: linear-gradient(
    to right,
    #1e73fa,
    #5ab4fa
  ); /* Gradient background */
  padding: 20px 0;
  width: 100%;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 480px) {
  .calendar-container {
    font-size: 18px;
    line-height: 22px;
    width: 300px;
  }

  .larger-button {
    font-size: 2rem;
    width: 3rem;
    height: 2rem;
  }

  .month-name {
    font-size: 2rem;
    padding: 15px 0;
    width: 5rem;
  }

  .streak-counter {
    width: 200px; /* or 100% if you want it to be full width */
    padding: 10px;
  }
}
