@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Comfortaa', cursive;
}

.larger-button {
  font-size: 3rem;
  width: 4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.streak-highlight {
  background-color: #00a6ff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  font-weight: bold;
}

.calendar-container {
  font-family: 'Lato', sans-serif;
  font-size: 27.72px;
  font-weight: normal;
  line-height: 33.27px;
  text-align: center;
}

.day-number {
  font-family: 'Lato', sans-serif;
  font-size: 22.53px;
  font-weight: 700;
  line-height: 27.03px;
  text-align: center;
}

.current-day {
  background-color: #007bff;
  border-radius: 50%;
  color: white;
  width: 2em;
  height: 2em;
  font-weight: bold;
}

.streak-counter {
  background: linear-gradient(90deg, rgba(30, 115, 250, 1) 0%, rgba(90, 180, 250, 1) 100%);
  border-radius: 20px;
  color: white;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
}

.streak-number {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.streak-label {
  font-size: 1em;
  font-weight: 400;
}

/* New styles for MonthName */
.month-name {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #1e73fa, #5ab4fa);
  padding: 20px 0;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
