@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Comfortaa', cursive;
}

.carousel {
  overflow-x: auto;
  white-space: nowrap;
}

.carousel-item {
  display: inline-block;
  vertical-align: middle;
  white-space: normal; /* To allow for line breaks in case of long text */
}

@media (min-width: 640px) {
  .carousel {
    overflow-x: visible;
    display: flex;
    flex-wrap: nowrap;
  }
}

